@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Model
@model SongCreateEditModel
@inject UserManager<ApplicationUser> UserManager;


<h1>Add a new song</h1>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" asp-for="Name" placeholder="Name">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="artistId">Artist</label>
            <select id="artistId" asp-items="@ViewBag.ArtistOptions" class="form-select" asp-for="ArtistId">
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <label>Strumming pattern</label>
        <div class="d-flex">
            <div class="form-group me-3">
                <label for="subBeat-1">
                    1<br>
                    <input id="subBeat-1" type="checkbox" asp-for="@Model.StrummingPattern[0].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-2">
                    e<br>
                    <input id="subBeat-2" type="checkbox" asp-for="@Model.StrummingPattern[1].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-3">
                    +<br>
                    <input id="subBeat-3" type="checkbox" asp-for="@Model.StrummingPattern[2].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-4">
                    a<br>
                    <input id="subBeat-4" type="checkbox" asp-for="@Model.StrummingPattern[3].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-5">
                    2<br>
                    <input id="subBeat-5" type="checkbox" asp-for="@Model.StrummingPattern[4].IsChecked">
                </label>

            </div>
            <div class="form-group me-3">
                <label for="subBeat-6">
                    e<br>
                    <input id="subBeat-6" type="checkbox" asp-for="@Model.StrummingPattern[5].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-7">
                    +<br>
                    <input id="subBeat-7" type="checkbox" asp-for="@Model.StrummingPattern[6].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-8">
                    a<br>
                    <input id="subBeat-8" type="checkbox" asp-for="@Model.StrummingPattern[7].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-9">
                    3<br>
                    <input id="subBeat-9" type="checkbox" asp-for="@Model.StrummingPattern[8].IsChecked">
                </label>

            </div>
            <div class="form-group me-3">
                <label for="subBeat-10">
                    e<br>
                    <input id="subBeat-10" type="checkbox" asp-for="@Model.StrummingPattern[9].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-11">
                    +<br>
                    <input id="subBeat-11" type="checkbox" asp-for="@Model.StrummingPattern[10].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-12">
                    a<br>
                    <input id="subBeat-12" type="checkbox" asp-for="@Model.StrummingPattern[11].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-13">
                    4<br>
                    <input id="subBeat-13" type="checkbox" asp-for="@Model.StrummingPattern[12].IsChecked">
                </label>

            </div>
            <div class="form-group me-3">
                <label for="subBeat-14">
                    e<br>
                    <input id="subBeat-14" type="checkbox" asp-for="@Model.StrummingPattern[13].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-15">
                    +<br>
                    <input id="subBeat-15" type="checkbox" asp-for="@Model.StrummingPattern[14].IsChecked">
                </label>
            </div>
            <div class="form-group me-3">
                <label for="subBeat-16">
                    a<br>
                    <input id="subBeat-16" type="checkbox" asp-for="@Model.StrummingPattern[15].IsChecked">
                </label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="name">BPM</label>
            <input type="number" class="form-control" name="bpm" id="bpm" asp-for="Bpm" placeholder="BPM">
        </div>
    </div>
</div>
<input type="hidden" name="userId" asp-for="UserId" value="@UserManager.GetUserId(User)">
<button type="submit" class="btn btn-primary">Submit</button>