@model SongViewModel

@{
    ViewData["Title"] = "Song - " + Model.Name;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Name</h1>
            <h2>@Model.Artist.Name</h2>
            <img src="@Model.Artist.ImageUrl" alt="@Model.Artist.Name" class="" width="125px">
        </div>
        <div class="col-md-4">
            <h3>Rhythm</h3>
            @if (Model.StrummingPattern.Exists())
            {
                <pre style="font-family: 'Courier', monospace"><h2>@Model.StrummingPattern.GetStrummingPatternArrows()</h2><h2>@Model.StrummingPattern.GetAllStrummingLetters()</h2></pre>
            }
        </div>
    </div>
    <a class="btn btn-primary" asp-action="CreateSection">Add section</a>
</div>
</body>
</html>