@model ICollection<ArtistViewModel>

@{
    ViewData["Title"] = "My Artists";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>My Artists</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var artist in Model)
        {
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top artist-image" src="@artist.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@artist.Name</h5>
                        <a asp-action="Edit" asp-route-id="@artist.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@artist.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a asp-action="Create">
                <button class="btn btn-primary">Add artist</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>